@charset "UTF-8";

/* 상단 검색창 */
.search_light button span {overflow:hidden;display:inline-block;background:url(../img/common/cjmall/m/sp_search.png) no-repeat;background-size:150px 100px;line-height:100em;vertical-align:top}
.search_light button {border:0;background:transparent;text-align:center}

.search_light_form{position:relative;height:50px;margin:0 5px 0 35px}
.search_ipt{position:relative;float:left;height:40px;margin:5px 0;width:100%;background:#fff}
.srcform_inut{position:absolute;top:0px;left:0;width:72%;height:20px;margin:11px 4px 3px 10px;outline:none;font-size:16px;color:#333;border:0 none;vertical-align:top;background:transparent;}
.search_btn{position:absolute;right:0;top:0}
.search_btn div{float:left;width:40px;height:40px;cursor:pointer}
.search_light{background:#00a9e0;height:50px;width:100%;display:block;position:relative;min-width:320px}
.search_light .search_close{display:none;width:32px;height:40px}
.search_light .search_close span{width:18px;height:18px;margin-top:1px;background-position:0 0}
.search_light .search_search{width:40px;height:40px;vertical-align:top;}
.search_light .search_search span{width:22px;height:22px;margin-top:-1px;background-position:0 -20px}
.search_light .search_cancel{position:absolute;top:0;left:0;width:35px;height:50px}
.search_light .search_cancel span{width:10px;height:18px;margin-top:0;background-position:0 -45px}