					<div class="top_event">
						<a href="#"><img src="//image.cjmall.net/cjupload/banner/main/62701607211758325.jpg" alt="엘지생건" /></a>
						<ul class="personal_menu">
							<li><a href="#" id="w_cart">장바구니</a></li>
							<li><a href="#" id="w_mycodi">쇼핑찜</a></li>
						</ul>
					</div>
					<div class="follow_wrap">
						<div class="recent_prd" id="todayList">
							<h3><a href="#">최근본상품<strong><em>1</em></strong></a></h3>
							<ul>
							</ul>
							<div class="pagination">
								<a href="#" class="btn_prev">이전 상품</a>
								<em><strong>1</strong>/<span>1</span></em>
								<a href="#" class="btn_next">다음 상품</a>
							</div>
						</div>
						<a href="#cjo_wrap" class="go_top"><img src="{{ecStaticBaseUrl}}/common-cjmall-pc/others/img/common/cjmall/p/btn_go_top.png"></img></a>
					</div>