				<div class="tvshop_inner" style="background-image:url('//image.cjmall.com/cjupload/main/popup/602020150225113652.jpg');"><!-- 카스 등록되는 bg 이미지 -->
					<div class="tv_content">
						<div class="promotion">
							<a href="http://www.oclock.co.kr/prd/detail_cate.jsp?item_cd=38982383&chn_cd=30001016&pic=GBPM0001">
								<img src="//image.cjmall.com/cjupload/banner/main/6050160429165182.jpg" alt="모피" />
							</a>
						</div>
						<div class="tv_pre_order">
							<p ><a href="http://www.cjmall.com/shop/planshop/plan_shop.jsp?shop_id=2016020147&pic=GBTV0002"><img src="//image.cjmall.com/cjupload/banner/main/60601604291555618.jpg" alt="유난희SHOW" /></a></p>
							<dl>
								<dt>유난희SHOW</dt>
								<dd><a href="http://www.cjmall.com/shop/planshop/plan_shop.jsp?shop_id=2016020147&pic=GBTV0003">토요일 밤의 초대!<br>CGV예매권+10%쿠폰 찬스</a></dd>
							</dl>
						</div>
						<div class="tv_live">
							<dl>
								<dt><a href="/etv/broad/broad_list.jsp">생방송 </a>
									<span class="cjm_onair_time">
										<span>0</span><span>0</span><span class="colon">:</span><span>0</span><span>0</span><span class="colon">:</span><span>0</span><span>0</span>
									</span>
								</dt>
	
								<dd class="live_info">
									<a href="http://www.cjmall.com/etv/broad/broad_list.jsp?pic=GBTV0005">
										<span class="prd_name">닉스 미라클 스트레치 데님2종 여성</span>
										<span class="price"><strong>48,000</strong> 원</span>
									</a>
								</dd>
								<dd class="btn_set">
									<a href="http://www.cjmall.com/prd/detail_cate.jsp?item_cd=37751630&chn_cd=30001003&pic=GBTV0006" target="_self" class="order">주문하기</a><!-- 보험일 경우 : 상담하기 -->
									<a href="http://www.cjmall.com/etv/broad/broad_list.jsp?onAir=0&pic=GBTV0007#etv_item_list">방송편성표</a>
								</dd>
							</dl>
	
							<div class="tv_img">
								<a href="http://www.cjmall.com/etv/broad/broad_list.jsp?pic=GBTV0004"><span>TV 생방송 상품</span></a>
								<img src="http://itemimage.cjmall.com/goods_images/37/630/37751630K.jpg" alt="닉스 미라클 스트레치 데님2종 여성" onerror='this.src="//itemimage.cjmall.com/goods_images/imageJ.jpg"' />
							</div>
						</div>
					</div>
				</div>
				<div class="tvshop_bg_right" style="background:#90d6ec;"></div><!-- 카스 등록되는 오른쪽 bg 컬러-->
