{{#if isShowAppBanner}}
<div class="n_top_banner">
	<a class="btn_close" href="#" spcid="appdb_close">닫기</a>
	<span class="ico_cjmall_app">CJmall 앱로고</span>
	<span class="app_title">TV상품 앱 구매시 <strong>5% 추가적립</strong></span>
	<a href="#" class="btn_download" spcid="appdb_download">앱다운로드</a>
</div>
{{/if}}
<dl class="n_top">
	<dt>
		<a href="#o1h_left" class="btn_side" spcid="category">사이드 메뉴</a>
		<h1><a href="{{homeLink}}" class="logo" title="메인으로 이동">CJ mall</a></h1>
	</dt>
	<dd>
		<div class="search_wrap">
			<fieldset>
				<legend>검색</legend>
				<input type="text" title="검색페이지로 이동">
				<button type="button" class="btn_sch">검색페이지로 이동</button>
			</fieldset>
		</div>
	</dd>
</dl>
<div class="n_menu_wrap" id="headerMenu">
	<ul class="n_navi">
		<!-- import : common/cjmall/ui/m/header/templates/mainHeaderView_menu.handlebars -->
	</ul>
</div>