		<div class="search_light">
			<div class="search_light_form">
				<div class="search_ipt">
					<form id="submitFrm" name="submitFrm" method="post">
						<label for="srch_value" class="blind">검색어입력</label>
						<input type="search" title="검색어입력" name="srch_value" id="srch_value"  class="srcform_inut"  placeholder="검색어 입력" autocomplete="off" maxlength="30"/>
						<input type="hidden" name="firstSearch" value="true" /> 
					</form>
					<div class="search_btn">
						<button type="button" class="search_close"> <span>검색어 삭제</span></button>
						<button type="button" class="search_search"><span>검색어 검색</span></button>
					</div>
				</div>
			</div>
			<button type="button" class="search_cancel"><span>취소</span></button>
		</div>