				<div class="footer_inner">
					<span class="logo">CJ O shopping</span>
					<ul class="footer_cjmenu">
						<li><a href="http://www.cjoshopping.com/about/intro.asp?pic=FOOT0001" target="_blank">회사소개</a></li>
						<li><a href="http://www.cjmall.com/customer_center/index.jsp?pic=FOOT0002" target="_self">고객센터</a></li>
						<li><a href="http://www.cjmall.com/company/company_use_raw.jsp?pic=FOOT0003" target="_self">이용약관</a></li>
						<li><a href="http://www.cjmall.com/company/company_personal_info_01.jsp?pic=FOOT0004" target="_self"><strong>개인정보취급방침</strong></a></li>
						<li><a href="http://www.cjmall.com/company/company_personal_info_02.jsp?pic=FOOT0005" target="_self">청소년보호정책</a></li>
						<li><a href="http://www.cjoshopping.com/contact/propose/info/step1.asp?pic=FOOT0006" target="_blank">입점안내</a></li>
						<li><a href="http://partner.cjmall.com/?pic=FOOT0007" target="_blank">협력사</a></li>
						<li><a href="http://www.cjmall.com/company/company_privacy.jsp?pic=FOOT0008" target="_self">법적고지</a></li>
					</ul>
	
					<div class="cj_notice">
						<strong>공지사항</strong><a href="javascript:win_pop('/customer_center/pop_happynews.jsp?bbs_no=85078&bbs_id=03','','540','475','no');" spcId="FOOT0009"><카카오톡 알리미> 서비스 시행 안내</a>
					</div>
	
					<div class="footer_go_cj">
						<a href="#" spcId="FOOT0010">CJ그룹계열사 바로가기</a>
						<ul>
							<li>
								<dl>
									<dt>CJ그룹</dt>
									<dd><a href="http://www.cj.net/" target="_blank">CJ주식회사</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>신유통</dt>
									<dd><a href="http://www.cjmall.com/index_tab1.jsp" target="_blank">CJ오쇼핑</a></dd>
									<dd><a href="http://www.cjkoreaexpress.co.kr/web/kr/index.asp" target="_blank">CJ대한통운</a></dd>
									<dd><a href="http://www.cjtelenix.com/" target="_blank">CJ텔레닉스</a></dd>
									<dd><a href="http://www.cjolivenetworks.co.kr/" target="_blank">CJ올리브네트웍스</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>식품&amp;식품서비스</dt>
									<dd><a href="http://www.cj.co.kr/cj-kr/" target="_blank">CJ제일제당</a></dd>
									<dd><a href="http://www.cjfreshway.com/main/main.asp" target="_blank">CJ프레시웨이</a></dd>
									<dd><a href="http://www.cjfoodville.co.kr/main.asp" target="_blank">CJ푸드빌</a></dd>
									<dd><a href="http://md1.co.kr/main.aspx" target="_blank">CJ엠디원</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>생명공학</dt>
									<dd><a href="http://www.cj.co.kr/cj-kr/businesses/4/main" target="_blank">CJ제일제당</a></dd>
									<dd><a href="http://www.cjp.co.kr/" target="_blank">CJ헬스케어</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>엔터테인먼트&amp;미디어</dt>
									<dd><a href="http://www.cjenm.com/" target="_blank">CJ E&amp;M</a></dd>
									<dd><a href="http://www.cgv.co.kr/" target="_blank">CJ CGV</a></dd>
									<dd><a href="http://www.cjhellovision.com/" target="_blank">CJ헬로비젼</a></dd>
									<dd><a href="http://www.cjpowercast.com/" target="_blank">CJ파워캐스트</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>인프라</dt>
									<dd><a href="http://www.cjenc.co.kr/" target="_blank">CJ 건설</a></dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="footer_address">
						<address><strong>(주)CJ오쇼핑</strong><span>l</span>대표이사 : 김일천<span>l</span>주소 : 06761 서울시 서초구 과천대로 870-13 </address>
						<p>사업자등록번호 : 106-81-51510<span>l</span>통신판매업신고 서초 제 00015호 <a target="_blank" href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=1996321007630200015&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=1068151510&amp;stdate=&amp;enddate=" class="info">사업자정보확인</a></p>
						<p>개인정보관리책임자 : IT담당 양희영<span>l</span>호스팅제공자 : (주)CJ오쇼핑 </p>
						<p class="customer_info"><strong>고객센터</strong><span>l</span>TEL : <strong>1644-2525</strong><span>l</span>FAX : 02-2107-1009<span>l</span>Mail : <a href="mailto:Webmasters@cjmall.com">Webmasters@cjmall.com</a></p>
						<p class="copyright">Copyright(C) 2000-2016 CJ O Shopping All Rights Reserved.</p>
					</div>
					<dl class="hanabank">
						<dt><strong>하나은행</strong> 구매안전 서비스</dt>
						<dd>
							고객님은 안전거래를 위해 현금으로 결제시<br />
							저희 쇼핑몰에서 가입한 하나은행으로<br />
							구매안전서비스를 이용하실 수 있습니다.<br />
							<a href="http://image.cjmall.com/cjupload/hanabank_20160331.pdf" target="_blank" spcId="FOOT0011">서비스 가입사실 확인</a>
						</dd>
					</dl>
					<ul class="cjm_partner">
						<li class="partner01"><a href="javascript:win_pop('/prd/popup/pop_partners_0927.jsp','','600','630','no')">위해상품 판매차단 시스템</a></li>
						<li class="partner02"><a href="javascript:win_pop('/prd/popup/pop_safety.jsp','','588','493','no')">전기용품, 어린이용품 안전인증</a></li>
						<li class="partner04"><a href="javascript:win_pop('/popup/pop_ccm.jsp','','764','600','yes')">소비자불만 자율관리 프로그램</a></li>
						<li class="partner05"><a href="http://www.ncsi.or.kr/ncsi/ncsi.list.asp?menuseqnum=13&amp;siteid=0" target="_blank">국가고객만족도 TV홈쇼핑 1위</a></li>
						<li class="partner06"><a href="http://certify.kmac.co.kr/notice/read.asp?topmenuKind=6&amp;board_kind=1&amp;Pk=1210&amp;" target="_blank">한국산업의 브랜드파워 1위</a></li>
						<li class="partner07"><a href="http://www.eprivacy.or.kr/" target="_blank">개인정보보호마크 인증사이트</a></li>
						<li class="partner08"><a href="http://www.etrust.or.kr:8080/jsp/open/eTrust_info.jsp?unique_id=568522" target="_blank">우수전자거래 사업자인증</a></li>
						<li class="partner09"><a href="http://www.dnvba.com/kr/Certification/Management-Systems/Information-Security/Pages/ISO-27001.aspx" target="_blank">ISO-27001 인증사이트</a></li>
						<li class="partner10"><a href="http://ecc.seoul.go.kr" target="_blank">서울시 전자상거래센터</a></li>
						<li class="partner12"><a href="http://www.ftc.go.kr" target="_blank">정거래위원회 인증 표준약관</a></li>
					</ul>
				</div>